{% extends 'base.html' %}
{% load static %}

{% block contentwraper %}
<h1 class="m-0 text-dark"></h1>
{% endblock%}
{% block maincontent %}
{% if messages %}
<div class="row">
<div class="col-sm-6 col-sm-offset-3">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="True">&times;</span>
      </button>
        <h1 ><p style="color: blue">{{ message }}</p></h1>
    </div>
    {% endfor %}
  </div>

</div>
{% endif %}
<br>
{% if cookie_status %}

    <a href="{{ vcenter_url }}" class="nav-link active">

      <h1 class="m-0 text-blue">Click Vcenter</h1>
    </a>
    <br>

    <a href="{{ test_url }}" class="nav-link active">
      
      <h1 class="m-0 text-blue">Test</h1>
    </a>
{% else %}
<a href="{% url 'pwm:resetpass' %}" class="nav-link active">
 
  <h1 class="m-0 text-blue">Verify</h1>
  

</a>
{% endif %}

{% endblock %}